// Define variables for your color scheme

// For example:
$red: #FD1015;
// $blue: #0D6EFD;
// $yellow: #FFC65A;
// $orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$light-pink: #f8d3cb;
$blue: #6fa8dc;
$yellow: #f8ad1c;
$pink: #f0779a;
$orange: #ff5300;
