// Specific CSS for your home-page
.body-style {
  background-color: $light-pink;
}

.home-wrapper {
  width: 100%;
}

.home-text {
  width: 60%;
}

.salome-photo-wrapper {
  width: 40%;
}


.salome-photo {
  max-width: 100%;
  height: auto;
  border-radius: 6%;
}
