<div class="d-flex justify-content-between">
  <div class="mission-wrapper">
    <div class="mission">
      <i class="fas fa-bullseye"></i>
      <h1>Mission</h1>
      <%= image_tag 'https://static.wixstatic.com/media/90c46b_dad7df7023ac414688a9e625de0d27d2~mv2.png/v1/fill/w_640,h_476,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/90c46b_dad7df7023ac414688a9e625de0d27d2~mv2.png' %>
      <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quaerat ducimus explicabo at voluptatem ipsum dolorem tempora ipsam neque obcaecati. Illo earum perferendis nihil minus quia consequatur minima quaerat soluta.</h4>
    </div>
  </div>
  <div class="vision-wrapper">
    <div class="vision">
      <i class="fas fa-eye"></i>
      <h1>Vision</h1>
      <%= image_tag 'https://f.maformation.fr/edito/sites/3/2021/11/insertion-professionnelle.jpeg' %>
      <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quaerat ducimus explicabo at voluptatem ipsum dolorem tempora ipsam neque obcaecati. Illo earum perferendis nihil minus quia consequatur minima quaerat soluta.</h4>
    </div>
  </div>
</div>
