<div class="d-flex justify-content-between">
  <div class="mission-wrapper">
    <div class="mission">
      <i class="fa-sharp fa-solid fa-bullseye-arrow"></i>
      <h1>Mission</h1>
      <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quaerat ducimus explicabo at voluptatem ipsum dolorem tempora ipsam neque obcaecati. Illo earum perferendis nihil minus quia consequatur minima quaerat soluta.</h4>
    </div>
  </div>
  <div class="vision-wrapper">
    <div class="vision">
      <h1>Vision</h1>
      <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quaerat ducimus explicabo at voluptatem ipsum dolorem tempora ipsam neque obcaecati. Illo earum perferendis nihil minus quia consequatur minima quaerat soluta.</h4>
    </div>
  </div>
</div>
