<div class="coaching-wrapper">
  <div class="coaching-card orientation">
    <img src="https://www.virages-consultations.com/medias/photos-Blog/2019/IMAGES2019/190715-IMG-delai-consultation-psy.jpg" />
    <div class="coaching-card-infos">
      <h2>Orientation</h2>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est labore iste minus cum fugit possimus nesciunt! Expedita officiis, quibusdam veritatis assumenda ab nisi, facilis labore atque iste autem, illum odio! Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi aliquid doloremque animi labore. Nesciunt autem, commodi facilis beatae tenetur quod? Delectus corporis doloremque obcaecati dolore. Tempora nobis quo eum id?</p>
    </div>
  </div>
  <div class="coaching-card motivation">
    <div class="coaching-card-infos">
      <h2>Motivation / Ambition</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque soluta laborum tempora doloribus modi voluptates vel consequuntur rerum delectus eligendi doloremque voluptatem, id suscipit quam nemo minima repudiandae, neque ullam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis beatae distinctio sunt repellendus repellat rerum nisi magni ab praesentium non culpa, obcaecati laudantium dolorum, veniam deleniti facilis fuga aspernatur nesciunt?</p>
    </div>
    <img src="https://www.psy-co.ch/wp-content/uploads/2016/05/consultation-individuelle.jpg" />
  </div>
</div>
