<div class="d-flex justify-content-center">
  <div class="contact-wrapper d-flex justify-content-center">
    <div class="first-contact contact-card">
      <h1>Premier <br> Contact</h1>
      <p><span class="transparent transparent-border">..............</span></p>
      <p>Avec les informations suivantes:</p>
      <ul>
        <li>Raison de la consultation</li>
        <li>Lieu de visite</li>
        <li>Numéro de registre national</li>
      </ul>
    </div>
    <div class="rdv contact-card">
      <h1>Votre <br> Rendez-Vous</h1>
      <p><span class="transparent transparent-border">..............</span></p>
      <p>N'hésitez pas à contacter notre psychologue <br> pour voir ses disponibilités.</p>
    </div>
  </div>
</div>
