<div class="d-flex justify-content-between home-wrapper mt-4">
  <div class="home-text">
    <div>
      <h1>Goral Coaching,<br><span class="transparent">.........</span>La Psychologie qui<br>Changera votre vie...</h1>
      <h4>La Vision lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium assumenda eligendi harum libero beatae. Sequi reprehenderit molestiae rem placeat dignissimos vel, consequatur odit est, et veniam ipsum hic! At, rem.</h4>
      <%= link_to "En Savoir Plus", "#", class: "btn btn-flat" %>
    </div>
  </div>
  <div class="salome-photo-wrapper">
    <%= image_tag "salome_picture.jpeg", class: "salome-photo" %>
  </div>
</div>
