.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  margin: 0rem 1.8rem;
}

.profiler-results {
  display: none;
}

.insta-icon {
  color: red;
  font-size: 1.8rem;
}

.insta-logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.6px solid rgb(182, 182, 182);
}

.goral-logo {
  font-size: 20px;
  color: $blue;
  margin-bottom: 0;
}

.goral-logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
  &:hover {
    color: white!important;
    background: linear-gradient(#147EFF, #0F67DA);
  }
}

.container-fluid {
  justify-content: center!important;
}
